In [13]:
#Functions to be performed in pandas 

import pandas as pd
rt=pd.read_csv(r"C:\Users\Student\Desktop\KHUSHI\DATA.csv")
print(rt)
print("\n")
print(df.sort_values(by="Age",ascending=False))
print("\n")
print("Sum",df["Age"].sum())
print("Mean",df["Age"].mean())
print("Max",df["Age"].max())
print("Min",df["Age"].min())
print("Count",df["Age"].count())

  NAME  AGE  MARKS
0    A   19   85.0
1    B   25    NaN
2    C   37   69.0


  Name  Age     City
3    D   69      Goa
1    B   27   Mumbai
0    A   24    Delhi
2    C   12  Kolkata


Sum 132
Mean 33.0
Max 69
Min 12
Count 4